@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700&display=swap");
html {
	-ms-overflow-style: none; /* for Internet Explorer, Edge */
	scrollbar-width: none; /* for Firefox */
	overflow-y: scroll;
	overflow-x: none;
    scroll-behavior: smooth;
	height: auto;
}

html::-webkit-scrollbar {
	display: none;
}

/* some nonsense */

body {
	margin: 0;
	padding: 0;
	--top-margin: 70px;
	--background-color: #2a0944;
	--text-color: #3fa796;
	--gradient-color: ##6f2ea3;
	--burple: #9c9efe;
	--light-burple: #afb4ff;
	--content-width: 56%;
	height: auto;
	-ms-overflow-style: none; /* for Internet Explorer, Edge */
	scrollbar-width: none; /* for Firefox */
	overflow-y: scroll;
}

body::-webkit-scrollbar {
	display: none;
}

.Purple {
	color: #a66cff;
}

.Blue {
	color: #9c9efe;
}

.LightBlue {
	color: #afb4ff;
}

.DarkBlue {
	color: #005c61;
}

.NavBar {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: var(--top-margin);
	box-shadow: 0 0px 5px black;
	z-index: 100;
	background-color: white;
}

.NavBarContent {
	min-width: var(--content-width);
	max-width: 95%;
	width: auto;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.RightNav {
	height: 100%;
	width: auto;
	margin: 0;
	padding: 0;
}

.RightNav ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: auto;
	overflow: hidden;
}

.RightNav ul li {
	display: flex;
	align-items: center;
	margin: 0;
	padding: 0;
	height: 100%;
	padding-left: 1vw;
	padding-right: 1vw;
	font-family: "Open Sans", sans-serif;
	font-weight: 500;
	background-size: 100%;
}

.RightNav ul li:hover {
	background-color: #f4f4f4;
	user-select: none;
	cursor: pointer;
}

.LeftNav {
	height: 100%;
	width: auto;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.LeftNav h1 {
	margin: 0;
	padding: 0;
	font-family: "Open Sans", sans-serif;
	font-size: 18px;
	user-select: none;
}

.LeftNav h1:hover {
	cursor: pointer;
}

.App {
	position: absolute;
	text-align: center;
	height: auto;
	width: 100vw;
	margin: 0;
	padding: 0;
	-ms-overflow-style: none; /* for Internet Explorer, Edge */
	scrollbar-width: none; /* for Firefox */
	overflow-y: scroll;
}

.App::-webkit-scrollbar {
	display: none;
}

.Title {
	margin: auto;
	padding: auto;
	font-family: "Roboto Slab", serif;
	font-size: 80px;
	font-weight: 600;
	color: black;
	user-select: none;
}

.Title0 {
	margin: auto;
	padding: auto;
	font-family: "Roboto Slab", serif;
	font-size: 18px;
	font-weight: 400;
	color: black;
	user-select: none;
}

.Title2 {
	margin: 0;
	padding: 0;
	margin-top: 2vh;
	font-family: "Roboto Slab", serif;
	font-size: 22px;
	font-weight: 400;
	color: black;
	user-select: none;
	max-width: 620px;
}

.Michael {
	color: var(--burple);
}

.TextContainer {
	height: 60%;
	min-width: var(--content-width);
	max-width: 95%;
	width: auto;
	margin: auto;
	padding: auto;
	margin-top: 100px;
	margin-bottom: 20vh;
	text-align: left;
	z-index: 5;
}

.TitleBackground {
	margin: 0;
	padding: 0;
	display: flex;
	justify-items: center;
	margin-top: var(--top-margin);
	width: 100%;
	min-height: 100vh;
	max-height: max-content;
	height: min-content;
	background-color: #f0feff;
	position: relative;
}

.HeadShotContainer {
	height: 300px;
	width: 300px;
	position: absolute;
	bottom: 40%;
	right: 28%;
	z-index: 20;
}

.HeadShotImage {
	height: 250px;
	width: 250px;
	margin: 0;
	padding: 0;
	border-radius: 50%;
	position: absolute;
	z-index: 4;
	user-select: none;
}

.DecorativeBorder {
	height: 260px;
	width: 260px;
	margin: 0;
	padding: 0;
	border-radius: 50%;
	position: absolute;
	z-index: 3;
	background-color: #f2f1ed;
	left: 145px;
	top: -5px;
}

.DecorativeBubblePurple {
	height: 260px;
	width: 260px;
	border-radius: 50%;
	background-color: #a66cff;
	position: absolute;
	z-index: -1;
	top: 30px;
	left: 200px;
}

.DecorativeBubbleBlue {
	height: 260px;
	width: 260px;
	border-radius: 50%;
	background-color: var(--light-burple);
	position: absolute;
	z-index: -1;
	top: -30px;
	left: 80px;
}

.DecorativeBubbleLightBlue {
	height: 150px;
	width: 150px;
	border-radius: 50%;
	background-color: #b1e1ff;
	position: absolute;
	z-index: -2;
	top: 160px;
	left: 145px;
}

.DecorativeBubbleMediumPurple {
	height: 150px;
	width: 150px;
	border-radius: 50%;
	background-color: #9c9efe;
	position: absolute;
	z-index: -2;
	top: -50px;
	left: 250px;
}

.ExperienceThingContainer {
	position: absolute;
	display: flex;
	justify-content: center;
	width: 100%;
	text-align: center;
	bottom: 14vh;
}

.ExperienceTitle {
	margin: 0;
	padding: 0;
	width: auto;
	font-family: "Roboto Slab", serif;
	user-select: none;
}

.ExperienceTitle:hover {
	cursor: pointer;
}

.Arrow {
	position: absolute;
	margin-top: 4vh;
	padding: 0;
	height: 40px;
	width: 40px;
	animation-name: ArrowBounce;
	animation-duration: 1.5s;
	animation-direction: alternate;
	animation-iteration-count: infinite;
}

.ProjectsDesc {
	margin: 0;
	padding: 0;
	font-size: 15px;
	font-family: "Roboto Slab", serif;
	user-select: none;
}

.ProjectArrow {
	padding: 0;
	margin: 0;
	height: 40px;
	width: 40px;
	animation-name: ArrowBounce;
	animation-duration: 1.5s;
	animation-direction: alternate;
	animation-iteration-count: infinite;
}

.ProjectsArrow {
	width: 100vh;
	position: absolute;
	bottom: 0;
}

@keyframes ArrowBounce {
	from {
		transform: translateY(0);
	}
	to {
		transform: translateY(35%);
	}
}

@keyframes ArrowBounceReversed {
	from {
		transform: translateY(35%) rotate(180deg);
	}
	to {
		transform: translateY(0) rotate(180deg);
	}
}

@media only screen and (max-width: 1700px) {
	.HeadShotContainer {
		display: none;
	}
}

.SecondaryBar {
	height: 65px;
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: #005c61;
	display: flex;
	justify-content: center;
}

.SecondaryBar h1 {
	margin: 0;
	padding: 0;
}

.SecondBarContent {
	min-width: var(--content-width);
	max-width: 95%;
	width: auto;
	height: 100%;
	padding: 0;
	margin: 0;
	display: flex;
}

.SecondBarContent ul {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	list-style-type: none;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.SecondBarContent ul li {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	height: 100%;
	width: 100%;
	margin: auto;
	padding: auto;
	color: white;
	user-select: none;
	font-family: "Open Sans", sans-serif;
	font-weight: 500;
}

.SecondBarContent ul li:hover {
	background-color: #00767c;
	cursor: pointer;
}

.ExperienceSectionIntroContainer {
	width: 100%;
	margin: 0;
	padding: 0;
	bottom: 0;
	position: absolute;
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
}

.ExperienceSectionIntroContainer h1 {
	font-family: "Roboto Slab", serif;
	font-size: 15px;
}

.ExperienceBobble {
	margin: 0;
	padding: 0;
	width: 100vw;
	position: absolute;
	top: 1%;
	display: flex;
	justify-content: center;
	align-items: center;
	height: auto;
	flex-direction: column;
}

.ProjectsBobble {
	margin: 0;
	padding: 0;
	font-family: "Roboto Slab", serif;
	font-size: 30px;
}

.ProjectsBobble:hover {
	cursor: pointer;
	user-select: none;
}

.ArrowReversed {
	margin: 0;
	padding: 0;
	height: 40px;
	width: 40px;
	animation-name: ArrowBounceReversed;
	animation-duration: 1.5s;
	animation-direction: alternate;
	animation-iteration-count: infinite;
}

.IntroBobble {
	margin: 0;
	padding: 0;
	width: auto;
	font-family: "Roboto Slab", serif;
	user-select: none;
}

.IntroBobble:hover {
	cursor: pointer;
}

.BackToIntro {
	font-size: 15px;
	font-family: "Roboto Slab", serif;
	user-select: none;
	margin: 0;
	padding: 0;
}

.ExperienceSectionContainer {
	max-height: max-content;
	min-height: calc(100vh - 135px);
	height: auto;
	width: 100%;
	position: relative;
	display: flex;
	justify-content: center;
	margin: 0;
	padding: 0;
	background-color: #ebfeff;
}

.ExperienceSubContainer {
	margin: 0;
	margin-top: 23vh;
	padding: 0;
	height: min-content;
	min-width: 40%;
	max-width: 95%;
	width: auto;
	text-align: left;
	margin-bottom: 10vh;
	display: flex;
	justify-content: center;
}

.ExperienceSubContainer h1 {
	font-family: "Roboto Slab", serif;
}

.JobTitle {
	font-size: 45px;
	font-weight: 700;
	margin: 0;
	padding: 0;
	margin-left: 15px;
	width: fit-content;
}

.JobRoleTitle {
	font-size: 20px;
	margin: 0;
	margin-left: 15px;
	padding: 0;
	width: fit-content;
}

.ExperienceSubSection {
	background-color: white;
	border-radius: 3px;
	border: solid 1px #acdcdf;
	padding: 15px;
	width: auto;
	margin-bottom: 15vh;
}

.JobTimePeriod {
	font-size: 10px;
	margin-bottom: 20px;
	margin-left: 15px;
	width: fit-content;
}

.JobDescription {
	width: fit-content;
}

.JobDescription ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: contents;
	width: auto;
	min-width: min-content;
	max-width: max-content;
}

.JobDescription ul li {
	padding-left: 5px;
	margin: 10px;
	font-family: "Roboto Slab", serif;
	font-weight: 500;
	width: fit-content;
}

.ListThing {
	width: fit-content;
}

.ThirdBar {
	margin: 0;
	padding: 0;
	height: 65px;
	width: 100vw;
	display: flex;
	justify-content: center;
	background-color: #005c61;
}

.ThirdBar ul {
	margin: 0;
	padding: 0;
	height: 100%;
	min-width: var(--content-width);
	max-width: 95%;
	width: auto;
	display: flex;
	justify-content: space-between;
	list-style-type: none;
	align-items: center;
}

.ThirdBar ul li {
	margin: 0;
	padding: 0;
	display: inline;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	color: white;
	user-select: none;
	font-family: "Open Sans", sans-serif;
	font-weight: 500;
}

.ThirdBar ul li:hover {
	background-color: #00767c;
	cursor: pointer;

}

.ResumeSection {
	margin: 0;
	padding: 0;
	border-top: solid 1px black;
	min-height: calc(100vh - 70px);
	max-height: max-content;
	width: 100%;
	background-color: #acdcdf;
}

.ResumePDF {
	margin: 0;
	padding: 0;
	margin-top: calc(5vh - 35px);
	height: 90vh;
	width: 56vw;
}

@media only screen and (max-width: 1000px) {
	.ResumePDF {
		width: 95vw;
	}
}